<div class="pt-5">
  <div class="card">
    <h4 class="card-header">Bruno Alves</h4>
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <h5 class="card-title d-inline">Cargo:</h5>
          <p class="pl-3 d-inline">Desenvolvedor Web Jr I</p>
        </div>
        <div class="col-6">
          <h5 class="card-title d-inline">Data de Nascimento:</h5>
          <p class="pl-3 d-inline">15/04/1991</p>
        </div>
        <hr>
        <div class="col-6">
          <h5 class="card-title d-inline">Data de Efetivação: </h5>
          <p class="pl-3 d-inline">02/2019</p>
        </div>
        <div class="col-6">
          <h5 class="card-title d-inline">Última mudança de cargo: </h5>
          <p class="pl-3 d-inline">02/2019</p>
        </div>
        <hr>
        <div class="col-6">
          <h5 class="card-title d-inline">Último PDI: </h5>
          <p class="pl-3 d-inline">09/07/2019</p>
        </div>
        <div class="col-6">
          <h5 class="card-title d-inline">Feito por: </h5>
          <p class="pl-3 d-inline">Ana Lima</p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-moving-motivational></app-moving-motivational>