<ng-container [ngSwitch]="step">
  <div class="mt-5" *ngSwitchCase="1">
    <app-goals (goalsEmiter)="goals=$event"></app-goals>
  </div>
  <div class="mt-5" *ngSwitchCase="2">
    <app-self-feedback (formEmiter)="formSelfFeedback=$event"></app-self-feedback>
  </div>
  <div class="mt-5" *ngSwitchCase="3">
    <app-wheel-of-skills (formSkillsEmitter)="formSkills=$event"></app-wheel-of-skills>
  </div>
  <div class="mt-5" *ngSwitchCase="4">
    <app-action-plan></app-action-plan>
  </div>
</ng-container>


<div class="pt-3 d-flex justify-content-end">
  <div class="col-6 col-md-3 p-0 pr-1 pr-md-2">
    <button type="button" class="btn btn-secondary w-100" *ngIf="step != 1" (click)="back()"><i class="pr-2 fas fa-arrow-left"></i>Voltar</button>
  </div>
  <div class="col-6 col-md-3 p-0 pl-1 pl-md-2">
    <button type="button" class="btn btn-primary w-100" (click)="continue()">
      {{ step == 4 ? 'Finalizar' : 'Próximo' }}
      <i class="pl-2 fas fa-arrow-right"></i>
    </button>
  </div>
</div>