<div class="example-boundary">
  <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
    <div class="d-flex flex-column">
      <p class="m-0">META</p>
      <i class="fas fa-bullseye-arrow"></i>
    </div>
  </div>
  <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
    <div class="d-flex flex-column">
      <p class="m-0">HONRA</p>
      <i class="fas fa-award"></i>
    </div>
  </div>
  <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
    <div class="d-flex flex-column">
      <p class="m-0">RELAÇÃO</p>
      <i class="fas fa-users"></i>
    </div>
  </div>
  <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>Curiosidade</div>
  <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>Maestria</div>
  <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>Ordem</div>
  <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>Aceitação</div>
  <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>Status</div>
  <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>Poder</div>
  <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>Lealdade</div>
</div>