<div class="example-boundary">
  <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
    <div class="d-flex flex-column">
      <p class="m-0">META</p>
      <i class="fas fa-bullseye-arrow"></i>
    </div>
  </div>
  <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
    <div class="d-flex flex-column">
      <p class="m-0">HONRA</p>
      <i class="fas fa-award"></i>
    </div>
  </div>
  <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
    <div class="d-flex flex-column">
      <p class="m-0">RELAÇÃO</p>
      <i class="fas fa-users"></i>
    </div>
  </div>
  <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
    <div class="d-flex flex-column">
      <p class="m-0">CURIOSIDADE</p>
      <i class="fas fa-search-plus"></i>
    </div>
  </div>
  <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
    <div class="d-flex flex-column">
      <p class="m-0">MAESTRIA</p>
      <i class="fas fa-search-plus"></i>
    </div>
  </div>
  <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
    <div class="d-flex flex-column">
      <p class="m-0">ORDEM</p>
      <i class="fas fa-search-plus"></i>
    </div>
  </div>
  <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
    <div class="d-flex flex-column">
      <p class="m-0">ACEITAÇÃO</p>
      <i class="fas fa-search-plus"></i>
    </div>
  </div>
  <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
    <div class="d-flex flex-column">
      <p class="m-0">STATUS</p>
      <i class="fas fa-search-plus"></i>
    </div>
  </div>
  <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
    <div class="d-flex flex-column">
      <p class="m-0">PODER</p>
      <i class="fas fa-search-plus"></i>
    </div>
  </div>
  <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
    <div class="d-flex flex-column">
      <p class="m-0">LEALDADE</p>
      <i class="fas fa-search-plus"></i>
    </div>
  </div>
</div>