<ng-container *ngFor="let item of teams">
  <div class="mt-4">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ item.teamName }}
          </mat-panel-title>
          <mat-panel-description>
            Membros do time / Data ultima avaliação
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item href="..." *ngFor="let item of item.members"> {{ item.name }}
            <span class="pl-5">{{ item.lastAvaliation }}</span></a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</ng-container>