<form class="example-form" [formGroup]="goalForm">
  <div class="row">
    <div class="col-4 px-2">
      <mat-form-field class="d-inline">
        <input matInput placeholder="Descrição da meta" [formControl]="goalForm.controls['goalDescription']">
      </mat-form-field>
    </div>
    <div class="col-4 px-2">
      <mat-form-field class="d-inline">
        <input matInput placeholder="Validador" [formControl]="goalForm.controls['validator']">
      </mat-form-field>
    </div>
    <div class="col-2 px-2">
      <mat-form-field>
        <mat-label>Periodo</mat-label>
        <mat-select [formControl]="goalForm.controls['period']" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let option of period" [value]="option.value">
            {{ option.text }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="goalForm.controls['period'].hasError('required')">É obrigatório escolher um periodo</mat-error>
      </mat-form-field>
    </div>
    <div class="col-2 px-1 d-flex align-items-center justify-content-end">
      <div class="col-4 px-1">
        <button type="button" class="btn btn-danger" (click)="addGoal()"><i class="fnt-size-24px fas fa-trash-alt"></i></button>
      </div>
      <div class="col-4 px-1">
        <button type="button" class="btn btn-primary" (click)="cancelGoal()"><i class="fnt-size-24px fas fa-save"></i></button>
      </div>
    </div>
  </div>
</form>