<ng-container *ngFor="let key of objectKeys(goals)">
  <div class="mt-4" *ngIf="goals[key].length">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ period[key] }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list-item>
          <div mat-line class="row" [ngClass]="{ 'pt-2': !isFirst }">
            <div class="col-4 font-weight-bold">
              <p class="d-inline">Meta</p>
            </div>
            <div class="col-4 font-weight-bold">
              <p class="d-inline">Validador</p>
            </div>
            <div class="col-4 d-flex justify-content-end font-weight-bold">
              <p class="d-inline">Status</p>
            </div>
          </div>
          <ng-container *ngFor="let item of goals[key]; let isFirst = first;">
            <div mat-line class="row" [ngClass]="{ 'pt-2': !isFirst }">
              <div class="col-4">
                <p class="d-inline">{{ item.goalDescription }}</p>
              </div>
              <div class="col-4">
                <p class="d-inline"> {{ item.validator }}</p>
              </div>
              <div class="col-4 d-flex justify-content-end">
                <div>
                  <button type="button" class="px-2 py-1 btn"
                    [ngClass]="item.status === 'progress' ? 'btn-primary' : 'btn-secondary'">
                    <i class="fas fa-running"></i>
                  </button>
                </div>
                <div class="pl-2">
                  <button type="button" class="px-2 py-1 btn"
                    [ngClass]="item.status === 'completed' ? 'btn-sucess' : 'btn-secondary'">
                    <i class="fas fa-check-square"></i>
                  </button>
                </div>
                <div class="pl-2">
                  <button type="button" class="px-2 py-1 btn"
                    [ngClass]="item.status === 'canceled' ? 'btn-danger' : 'btn-secondary'">
                    <i class="fas fa-window-close"></i>
                  </button>
                </div>
              </div>
            </div>
          </ng-container>
        </mat-list-item>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</ng-container>